@model IEnumerable<HelpSystem.Domain.ViewModel.Warehouse.ProductinWarehouseViewModel>

@{
    ViewBag.Title = "Товары на складе";
    // Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css" />
<style>
    .table-container {
     
        border: 2px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: clip;
        margin:10px;
        padding:5px;
        text-align: center;
      
    }

    #WarehouseProductTable {
        border-collapse: separate; 
        border-spacing: 6px;
    }

    .accordion-item {
        margin-bottom: 10px; /* Добавляет внешний отступ снизу каждого элемента аккордеона */
    }
     
  

</style>

    <div id="productAccordion" class="accordion">
        @foreach (var group in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-@group.NameProduct.Replace(" ", "-")">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@group.NameProduct.Replace(" ", "-")">
                        @group.NameProduct (Total: @group.TotalCountWarehouse)
                    </button>
                </h2>
                <div id="collapse-@group.NameProduct.Replace(" ", "-")" class="accordion-collapse collapse" aria-labelledby="heading-@group.NameProduct.Replace(" ", "-")">
                    <div class="accordion-body ">
                    <table id="WarehouseProductTable-@group.NameProduct.Replace(" ", "-")" class="table  table-bordered" style="width:100%" >
                            <thead>
                            <tr>
                                <th>Наименование товара</th>
                                <th>Инвентарный код</th>
                                <th>Доступное количество</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var product in group.WhProducts)
                            {
                                <tr>
                                    <td>@product.NameProduct</td>
                                    <td>@product.CodeProduct</td>
                                    <td>@product.AvailableCount</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>

@section Scripts
{
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function() {
          
           


            // $("#WarehouseProductTable").DataTable({
            //     ajax: {
            //         url: "/Warehouse/GetProductsWarehouse",
            //         type: "GET",
            //         data: { id: id },
            //         dataSrc: "data"
            //     },
            //     language: {
            //         url: "//cdn.datatables.net/plug-ins/1.10.25/i18n/Russian.json",
            //         emptyTable: "Нет товаров для отображения"
            //     },
            //     columns: [
            //         { data: "NameProduct", name: "NameProduct" },
            //         { data: "CodeProduct", name: "CodeProduct" },
            //         { data: "TotalCountWarehouse", name: "TotalCountWarehouse" },
            //         { data: "AvailableCount", name: "AvailableCount" },
            //         {
            //             data: null,
            //             sortable: false,
            //             render: function(data, type, row) {
            //                 return '<div class="btn-group" role="group">' +
            //                     '<button class="btn btn-success btn-op">Закрепить</button>' +
            //                     '<button class="btn btn-primary btn-move" style="margin-left: 5px;">Переместить</button>' +
            //                     '</div>';
            //             }
            //         }
            //     ]
            // });
        });
    </script>
}
       


