@model IEnumerable<HelpSystem.Domain.ViewModel.Warehouse.ProductinWarehouseViewModel>

@{
    ViewBag.Title = "Товары на складе";
    // Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css" />
<style>
    .table-rounded {
        border-radius: 15px;
    }

    /* Выделенные границы ячеек таблицы */
    .table-bordered th,
    .table-bordered td {
        border: 3px solid #888; /* Цвет границы */
     
    }

    /* Эффект при наведении на строки таблицы */
    .table-hover tbody tr:hover {
        background-color: #ffff99; /* Цвет фона при наведении */
    }

    #WarehouseProductTable {
        border-collapse: separate; 
        border-spacing: 6px;
    }

    .accordion-item {
        margin-bottom: 10px; /* Добавляет внешний отступ снизу каждого элемента аккордеона */
    }
    /* Резиновая (адаптивная) таблица */
    .table-responsive {
        width: 100%;
        overflow-x: auto;
    }

 

</style>

    <div id="productAccordion" class="accordion">
        @foreach (var group in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-@group.NameProduct.Replace(" ", "-")">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@group.NameProduct.Replace(" ", "-")">
                        @group.NameProduct (Общее количество: @group.TotalCountWarehouse)
                    </button>
                </h2>
                <div id="collapse-@group.NameProduct.Replace(" ", "-")" class="accordion-collapse collapse" aria-labelledby="heading-@group.NameProduct.Replace(" ", "-")">
                    <div class="accordion-body ">
                        <div class="table-responsive">
                        <table id="WarehouseProductTable-@group.NameProduct.Replace(" ", "-")" class="table table-bordered table-rounded table-hover" style="width:100%">
                                <thead>
                                <tr style="text-align:center">
                                    <th style="display:none">Id</th>
                                    <th>Наименование товара</th>
                                    <th>Инвентарный код</th>
                                    <th>Доступное количество</th>
                                    <th class="text-center">Действия</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var product in group.WhProducts)
                                {
                                    <tr style="text-align:center">
                                        <td style="display:none">@product.Id</td>
                                        <td class="text-center">@product.NameProduct</td>
                                        <td class="text-center">@product.CodeProduct</td>
                                        <td class="text-center">@product.AvailableCount</td>
                                        <td class="text-center">
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-success" id="attachBtn" data-product-id ="@product.Id" data-warehouse-id="#" type="button">Закрепить</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>

                    </div>
                    </div>
                </div>
            </div>
        }
    </div>

@section Scripts
{
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function() {



            // $("#WarehouseProductTable").DataTable({
            //     ajax: {
            //         url: "/Warehouse/GetProductsWarehouse",
            //         type: "GET",
            //         data: { id: id },
            //         dataSrc: "data"
            //     },
            //     language: {
            //         url: "//cdn.datatables.net/plug-ins/1.10.25/i18n/Russian.json",
            //         emptyTable: "Нет товаров для отображения"
            //     },
            //     columns: [
            //         { data: "NameProduct", name: "NameProduct" },
            //         { data: "CodeProduct", name: "CodeProduct" },
            //         { data: "TotalCountWarehouse", name: "TotalCountWarehouse" },
            //         { data: "AvailableCount", name: "AvailableCount" },
            //         {
            //             data: null,
            //             sortable: false,
            //             render: function(data, type, row) {
            //                 return '<div class="btn-group" role="group">' +
            //                     '<button class="btn btn-success btn-op">Закрепить</button>' +
            //                     '<button class="btn btn-primary btn-move" style="margin-left: 5px;">Переместить</button>' +
            //                     '</div>';
            //             }
            //         }
            //     ]
            // });
        });
    </script>
}
       


