@model IEnumerable<HelpSystem.Domain.ViewModel.Product.ProductShowViewModel>

<div class="container">
    <div class="row" style="text-align:center">
        <small class="text-center">  <strong> Накладная: @Model.FirstOrDefault()?.NumberDoc </strong></small>
    </div>
    <div class="row">
        <div class="col">
            <small class="text-muted"> <strong> Склад:</strong> @Model.FirstOrDefault()?.Warehouse</small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <small class="text-muted"> <strong>Поставщик:</strong> @Model.FirstOrDefault()?.Provider</small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Инвентарный код</th>
                        <th>Количество на складе</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td >@product.NameProduct</td>
                            <td >@product.CodeProduct</td>
                            <td style="vertical-align:middle">@product.TotalCount</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
