@model HelpSystem.Domain.ViewModel.Profile.ProfileViewModel

@{
    ViewBag.Title = "Профиль";
    Layout = "_Layout";
   
  
}
<meta charset="utf-8" />
<head>
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <link href="~/css/myanimate.css" rel="stylesheet" />
</head>
<style>
   
    .table-container {
        border: 5px solid #ccc; 
        border-radius: 5px; 
        overflow - x: auto;
        overflow-y: auto;
        max-height: 300px;
        margin-bottom:20px;
        padding:5px;
    }
    .table {
        width: 100%; 
        border-collapse: collapse; /* Слияние границ ячеек */
    }

    .table-scroll {
        width: 100%; /* Занимаем всю доступную ширину */
        padding: 8px;
    }

        .table-scroll thead th,
        .table-scroll tbody td {
            white-space: nowrap; /* Предотвращаем перенос текста */
        }

       .table-scroll tbody tr:hover{
           background-color:#fff999;
       }
</style>
<input type="hidden" id="profileId" value="@Model.Id" />
<br/>
<div class="card border-warning mb-3" style="margin:5px; max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-12">
            <h5 class="card-header text-center">Профиль</h5>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                @if (Model != null)
                {
                    <h5 class="card-title">Фамилия: @(!string.IsNullOrEmpty(Model.LastName) ? Model.LastName : "-")</h5>
                    <h5 class="card-title">Имя:@Model?.Name</h5>
                    <h5 class="card-title">Отчество: @(!string.IsNullOrEmpty(Model.Surname) ? Model.Surname : "-")</h5>
                }
                else
                {
                    <h5 class="card-title">Фамилия: -</h5>
                    <h5 class="card-title">Имя: @Model?.Name</h5>
                    <h5 class="card-title">Отчество: -</h5>
                    <h5 class="card-text-black">Возраст: -</h5>
                }
            </div>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2">
                <a class="btn btn-outline-warning" onclick="openModal({modalId: 'modal', url:'/Profile/GetProfile', data: '@Model.Id', context: 'profile'})">Изменить</a>
            </div>
        </div>
    </div>
</div>
@if (Model.UserPdocut != null && Model.UserPdocut.Any())
{
    <p style="background-color: #ffff99; " class="text-center"> <strong>Прикреплённые товар(ы)</strong> </p>
    @if (User.IsInRole("3"))
    {
        <div class="table-container">


            <table id="BindingProductId" class="table table-bordered table-scroll">
                <thead>
                <tr>
                  
                    <th>Наименование</th>
                    <th>Инвентарный код</th>
                    <th>Количество</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var product in Model.UserPdocut)
                {
                    <tr>
                        
                        <td class="text-center">@product.NameProduct</td>
                            <td class="text-center" >@product.InventoryCod</td>
                            <td class="text-center" >@product.TotalCount</td>
                        <td>
                            <div class="d-grid gap-2">
                                <button id="unbinding" data-product-id ="@product.Id" class="btn btn-success btn-sm ">Открепить</button>
                            </div>
                        </td>

                    </tr>
                }
                </tbody>
              
            </table>
        </div>
        <div style="background-color: #ffff99; " class="text-center mt-3">
            <strong>Общее количество прикрепленных товаров: @Model.SumTotalProducts</strong>
        </div>
    }
    else
    {
        <div class="table-container">


            <table id="BindingProductId" class="table table-bordered table-scroll">
                <thead>
                <tr>
                    <th style="display:none">id</th>
                    <th >Наименование</th>
                    <th>Инвентарный код</th>
                    <th>Количество</th>

                </tr>
                </thead>
                <tbody>
                @foreach (var product in Model.UserPdocut)
                {
                    <tr>
                        <td style="display:none">@product.Id</td>
                            <td class="text-center" >@product.NameProduct</td>
                            <td class="text-center" >@product.InventoryCod</td>
                            <td class="text-center" >@product.TotalCount</td>

                    </tr>
                }
                </tbody>
              
            </table>
        </div>
        <div style="background-color: #ffff99;" class="text-center mt-3">
            <strong>Общее количество прикрепленных товаров: @Model.SumTotalProducts</strong>
        </div>
    }
 

}





@section Scripts
    {

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
      
        <script>
            $(document).ready(function() {
                $('.card').addClass('show');
                $('#BindingProductId').on('click', '#unbinding', function() {
                    // Находим родительскую строку tr
                    var row = $(this).closest('tr');
                var id = $(this).data('product-id'); // Получаем Id товара из скрытой ячейки

                    var nameProduct = row.find('td:eq(0)').text(); // Наименование товара
                    var inventoryCode = row.find('td:eq(1)').text(); // Инвентарный код
                    var ProfileId = $('#profileId').val();

                    // Показываем подтверждающее уведомление без запроса количества
                    Swal.fire({
                        title: `Вы действительно хотите отвязать товар "${nameProduct}"  "${inventoryCode}"?`,
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Да, отвязать',
                        cancelButtonText: 'Отмена'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var productsToUnbind = [{
                            ProductId: id
                            }];
                            // Вызываем функцию отвязки товара, передавая Id товара
                        UnbindingProduct(ProfileId, productsToUnbind);
                        }
                    });
                });
                initializeProfileTable();
            });
        </script>

    }

