@model IEnumerable<HelpSystem.Domain.ViewModel.Users.UsersViewModel>


@{
    ViewBag.Title = "Список пользователей";
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css" />

<style>

    .table-container {
        border: 5px solid #bbb;
        border-radius: 5px;
        overflow - x: auto;
        overflow-y: auto;
        max-height: 300px;
        margin-bottom: 20px;
      
        
    }
  
  

    .table-scroll {
        width: 100%; /* Занимаем всю доступную ширину */
        padding: 8px;
    }
</style>


<div class="row table-container">
    <div class="col-md-12">
        <table class="table table-scroll table-bordered " id="usersTable">
            <thead>
                <tr>
                    <th>Логин</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Роль</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Us in Model)
                {
                    <tr>
                       
                        <td>@Us.Login</td>
                        <td>@Us.LastName</td>
                        <td>@Us.Name</td>
                        <td>@Us.Surname</td>
                        <td>@Us.Roles</td>
                       
                        <td>
                            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Us.UserId" class="btn btn-outline-info">Профиль</a>
                            <a onclick="openModal({modalId: 'modal', url:'/Profile/GetProfile', data: '@Us.UserId', context: 'profile'})" class="btn btn-outline-secondary">Изменить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#usersTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/Russian.json',
                    emptyTable: "Нет пользователей для отображения"
                }
            });
            //Тут тоже при переходе ставить или нет, разберешься короче
            localStorage.setItem('profileTrigger', 'false');
        });

      
    </script>
}